<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="SqlALEMexJet" connectionString="Data Source=192.168.1.39;Initial Catalog=MexJet360;User ID=UsrMexJet;Password=UsrMexJet" providerName="System.Data.SqlClient" />
    <add name="SqlSyteLine" connectionString="Data Source=192.168.1.219;Initial Catalog=Syteline_Produccion;User ID=UsrMexJet;Password=UsrMexJet" providerName="System.Data.SqlClient" />
    <add name="SqlDefaultFPK" connectionString="Data Source=192.168.1.88;Initial Catalog=master;User ID=sa;Password=4L354Mex" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>

    <add key="BASEDATOS" value="C:\BackUpFlightPak\fpkdict.dbc"/>
    <add key="RutaBDF" value="\\192.168.1.66\FPK11\Dbms"/>
    <add key="NuevaRutaBDF" value="C:\BackUpFlightPak"/>
    <add key="ClaveLinked" value="101"/>
  </appSettings>
</configuration>